$purple: #A050BE;
$light-grey: #eaeaeb;
$dark-grey: #464646;
$yellow: #fabe50;

$img-width: 45%;

//Placeholder selector
%no-decoration {
    text-decoration: none;
}
%u-decoration {
    text-decoration: underline;
}

//Mixin
@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
@mixin flx($property, $jty-cnt) {
    display: flex;
    #{$property}: $jty-cnt;
}

//media queries
/*Mobile*/
@mixin for-phone-only{
    @media (max-width: 767.98px){ @content; }
}
/*Tablet*/
@mixin for-tablet-only{
    @media (min-width: 768px) and (max-width: 1199.98px) { @content; }
}
/*Desktop*/
@mixin for-desktop-only{
    @media (min-width: 1200px) { @content; }
}

//Funções
@function calculateRem($size){
    @return $size / 16px * 1rem;
}
@mixin fontSize($size){
    font-size: calculateRem($size);
}

//Imports
@import 'header', 'footer', 'about', 'article', 'main';